.title {
  margin-bottom: 1rem;
}

.title h1 {
  margin-bottom: 6pt;
  color: rgba(229, 255, 200, 1);
}

.title time {
  color: rgba(255, 176, 158, 1);
}

.blog-post-content p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}
