.icon {
  margin: 0;
  height: 17px;
  width: auto;
  background: rgba(255, 176, 158, 1);
  float: right;
  padding: 1pt;
  transition: 0.2s ease-in-out background;
}

.icon:hover {
  background: rgba(229, 255, 200, 1);
}

.blog-post-preview {
  display: flex;
  width: 100%;
  flex-direction: column;
  line-height: 1.2rem;
}

.blog-post-preview a {
  font-size: 0.75rem;
}

.blog-post-preview time {
  font-size: 0.7rem;
}
