@font-face {
  font-family: 'Aadhunik';
  font-display: fallback;
  src: local('Aadhunik'), url('../assets/fonts/Aadhunik.ttf') format('truetype');
  font-weight: normal;
}
*,
body,
.intro {
  font-family: 'Aadhunik', sans-serif;
  font-size: 13px;
  color: #c0bdf0;
  font-weight: normal;
}

hr {
  background: rgba(192, 189, 240, 0.05) !important;
  margin-bottom: 8pt !important;
}

.intro .link {
  margin: 0;
}
