/* Text colors! */
/* Green: rgba(229, 255, 200, 1) */
/* Violet: rgba(192, 189, 240, 1) */
/* Orange: rgba(255, 176, 158, 1) */

.links {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: baseline;
  flex-wrap: wrap;
  margin-left: -6pt;
  margin-right: -6pt;
  animation-delay: 1.2s;
}

.link {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: stretch;
  margin-right: 6pt;
  margin-left: 6pt;
  margin-top: 12pt;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s linear color, 0.3s linear background;
  min-width: 80px;
}

.link.highlight {
  background: rgba(192, 189, 240, 0.05);
}

.link a {
  position: relative;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  padding: 7pt 9pt 6pt 9pt;
  transition: 0.3s linear color, 0.3s linear background;
}

.link.highlight:before,
.link.highlight:after,
.link:before,
.link:after,
.link.highlight > :first-child:before,
.link.highlight > :first-child:after,
.link > :first-child:before,
.link > :first-child:after {
  position: absolute;
  width: 8px;
  height: 8px;
  border-color: rgba(192, 189, 240, 1);
  border-style: solid;
  content: ' ';
  transition: 0.3s linear border-color, 0.6s ease width, 0.6s ease height;
  pointer-events: none;
}
.link:before {
  top: 0;
  left: 0;
  border-width: 1px 0 0 1px;
}
.link:after {
  top: 0;
  right: 0;
  border-width: 1px 1px 0 0;
}
.link > :first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 1px 1px 0;
}
.link > :first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 1px 1px;
}
.link:hover:before,
.link:hover:after,
.link.highlight:hover > :first-child:before,
.link.highlight:hover > :first-child:after,
.link:hover > :first-child:before,
.link:hover > :first-child:after {
  position: absolute;
  width: 100%;
  height: 100%;
}

.link a {
  pointer-events: auto;
}
.link a:hover {
  color: rgba(255, 176, 158, 1);
}
.link:hover {
  background: rgba(255, 176, 158, 0.05);
}

.link a:active,
.link.active a {
  color: rgba(229, 255, 200, 1);
}
.link:active,
.link.active {
  background: rgba(229, 255, 200, 0.05);
}

.link:hover:before,
.link:hover:after,
.link:hover > :first-child:before,
.link:hover > :first-child:after {
  border-color: rgba(255, 176, 158, 1);
}

.link.active:before,
.link.active:after,
.link:active:before,
.link:active:after,
.link.active > :first-child:before,
.link.active > :first-child:after,
.link:active > :first-child:before,
.link:active > :first-child:after {
  border-color: rgba(229, 255, 200, 1);
}
